<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>{% block title %}Welcome{% endblock %}</title>
</head>
<body style="background-image:url('https://cdn4.vectorstock.com/i/1000x1000/54/68/bright-blue-smooth-waves-on-white-background-vector-5855468.jpg');background-size:cover;position:center;top:5%;height:auto;overflow:hidden;">
 <div style="text-align:center;font-size:30px;">
  <h1 style="margin:7%;"><b> Mentor Profile Page </b></h1>
  <p>
      Profile page for mentors.
  </p>
 </div>

</body>
</html>